/* ================================
   ANIMAÇÕES
   ================================ */

@keyframes flashGreen {
    0% { transform: scale(1); background-color: #f4f7f6; }
    30% { transform: scale(1.1); background-color: #c8e6c9; }
    100% { transform: scale(1); background-color: #f4f7f6; }
}

.flash-effect {
    animation: flashGreen 0.4s ease-out;
}

@keyframes flashRed {
    0% { transform: scale(1); background-color: #f4f7f6; }
    30% { transform: scale(1.1); background-color: #ffcdd2; }
    100% { transform: scale(1); background-color: #f4f7f6; }
}

.flash-effect-red {
    animation: flashRed 0.4s ease-out;
}